:root {
    --bg-primary: #ffffff;
    --bg-accent: #0891b2;
}

html {
    background-color: var(--bg-primary);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.content-container {
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto;
}

.card-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.card-image {
    
}

.card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-content {

}

footer {
    background-color: var(--bg-accent);
}
